<section id="mainheader" class="pt-3 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 col-lg-10 offset-0 offset-md-2 offset-lg-1">
                <h1 class="">Uh Oh! We have a problem!!</h1>
                <p class="lead mb-5">The page you are trying to view doesnt exist. Sorry about that.</p>
                <a class="btn btn-lg btn-blue" href="/">Go To Main Site</a>
            </div>
        </div>
    </div>
</section>