<section id="about-us" class="pt-4 pb-3 ">
    <div class="container">
        <h1>About Us</h1>
        <p class="lead">A small farm located between Edinburgh and Carlisle recently converted to a visitor attraction that includes a shop selling local produce and plants, small petting zoo, cafe, Play Park and walks.</p>
    </div>
</section>

<span class="bg-bistro" style="min-height: 3px;"></span>
<section id="more-about-us" class="bg-1 p-5">
    <div class="container">
        <img class="img-fluid w-100 mb-4" src="img/the-farm/pexels-jeswin-thomas-3037094.jpg" alt="Picture of The Farm">
        <p>Ipsum faucibus vitae aliquet nec. Adipiscing tristique risus nec feugiat in. Mattis rhoncus urna neque viverra. Arcu vitae elementum curabitur vitae nunc sed velit dignissim. Eu consequat ac felis donec et odio pellentesque diam volutpat. Pellentesque sit amet porttitor eget dolor. Arcu risus quis varius quam quisque id. Et netus et malesuada fames ac. Pellentesque nec nam aliquam sem et tortor consequat id porta. Lobortis feugiat vivamus at augue eget arcu dictum varius duis.</p>
    </div>
</section>
