

<span class="bg-bistro" style="min-height: 3px;"></span>
<section id="opening-hours" class="bg-1">
  <div class="container">
      <div class="row p-4">
      
          <div class="col-12 col-lg-6 px-5">
              <ul class="list-group">
                  <li class="list-group-item">The Farm</li>
                  <!-- <li class="list-group-item">between Edinburgh and Carlisle</li> -->
                  <li class="list-group-item">Tel : 0123-456-7890</li>
                  <li class="list-group-item">email: info@thefarm.com</li>
                  <li class="list-group-item mb-0 pb-0">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d579674.6783691208!2d-3.781538833140415!3d55.42161574774786!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e2!4m5!1s0x4887b800a5982623%3A0x64f2147b7ce71727!2sEdinburgh!3m2!1d55.953252!2d-3.1882669999999997!4m5!1s0x487ce1df3eee6b0f%3A0x5c0a43b6ba15682d!2sCarlisle!3m2!1d54.892472999999995!2d-2.932931!5e0!3m2!1sen!2suk!4v1645643479982!5m2!1sen!2suk" style="border:0; width:100%" allowfullscreen="" loading="lazy"></iframe>
                  </li>
              </ul>
          </div>

          <div class="col-12 d-block d-lg-none p-3"></div>

          <div class="col-12 col-lg-6 px-5">
              <ul class="list-group">
                  <li class="list-group-item">Monday - 12:00-18:00</li>
                  <li class="list-group-item">Tuesday - 12:00-18:00</li>
                  <li class="list-group-item">Wednesday - 12:00-18:00</li>
                  <li class="list-group-item">Thursday - 12:00-18:00</li>
                  <li class="list-group-item">Friday - 12:00-18:00</li>
                  <li class="list-group-item">Saturday - 10:00-18:00</li>
                  <li class="list-group-item">Sunday - 10:00-18:00</li>
              </ul>
          </div>
      
                  
      </div>
  </div>

</section>
<span class="bg-bistro" style="min-height: 3px;"></span>


<section id="page-footer">
<div class="text-center mb-0 pb-0 ">
    <div class="bg-flowing<%= render_data.flow %>">
        <div class="container">
            <div class="row pt-3">
                <div class="col-lg-4 mb-3">
                    <h4 class="mb-1">About</h4>
                    <a class="mb-0 fa-hover" href="/">Example II</a><br/>
                    <a class="mb-0 fa-hover" href="/">Example I</a>
                </div>
                <div class="col-lg-4 mb-3">
                    <h4 class="mb-1">Help</h4>
                    <a class="mb-0 fa-hover" href="/">Example II</a><br/>
                    <a class="mb-0 fa-hover" href="/">Example I</a>
                </div>
                <div class="col-lg-4 mb-3">
                    <h4 class="mb-1">Contact</h4>
                    <a class="mb-0 fa-hover" href="/">Example II</a><br/>
                    <a class="mb-0 fa-hover" href="/">Example I</a>
                </div>
            </div>
        </div>
        <div class="w-100" style="background-color: rgba(0,0,0,0.15);">
          <i class="far fa-fw fa-lock-alt ml-2 mr-2 mt-3 mb-3"></i>
        </div>
    </div>
</div>
</section>
</footer>

<div class="modal fade" tabindex="-1" role="dialog" id="creator-modal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-flowing<%= render_data.flow %>">
        <h5 class="modal-title">About Me: The Creator</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Hi, if your reading this you probably want to know more about me, the developer of DekBOT.com and the amazing discord bots featured here. Theres isn't too much to tell really, my name is David and I'm a self taught software engineer from Glasgow, Scotland. I have always been technically creative and extremely interested in learning how things work. For a number of years I have created custom systems for the popular RPG Maker game engines. I have also created windows dll files, ruby extensions, custom game launchers, http & api frameworks for use by indie game devs, custom applications for windows and android, and a small number of arduino projects/libraries. Recently, I have decided to share more of the processes involved in the work I create. So, with that being said, I hope you enjoy what I do!</p>
        <a class="fa-hover" target="_blank" href="https://twitter.com/dekitarpg">@DekitaRPG</a>
        <h1 class="m-2 mt-3"><i class="fal fa-fw fa-2x fa-kiss-wink-heart cl-flowing<%= render_data.flow %>"></i></h1>
      </div>
    </div>
  </div>
</div>
