
<div class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" id="url-warning-modal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">WARNING!!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><b>The url or domain you entered, or the link that you followed is not a trusted source. You have been forwarded to the secure (https) version of this application's OFFICIAL domain: <a href="https://dekbot.com">https://dekbot.com</a>. In the future, please ensure that you visit us using only <a href="https://dekbot.com">https://dekbot.com</a> links or urls.</b></p>
        <p>You are seeing this message because a number of 'spoof' domain names have been forwarding their traffic to this application, which you may not think is a big deal, but it can significantly hurt search rankings for official pages, and is clearly malicious in nature. Because of these reasons, it is highly recommended that you no longer use the link, url, domain name, etc that  brought you to this page. Instead, visit <a href="https://dekbot.com">https://dekbot.com</a> directly!!</p>
      </div>
    </div>
  </div>
</div>
